// utils
@import './utils/vars';
@import './utils/visually-hidden';
@import './utils/placeholders';

// base styles

@import './base/common';
@import './base/reset';
@import './base/container';

// components

@import './components/logo';
@import './components/socials';
@import './components/backdrop';
@import './components/modal';
@import './components/filter-buttons';
@import './components/footer-form';
@import './components/modal-form';
@import './components/form-button';

// layouts
@import './layouts/page-header';
@import './layouts/hero';
@import './layouts/features';
@import './layouts/work';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/portfolio';
