:root {
    --primary-color: #757575;
    --title-color: rgba(33, 33, 33, 1);
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-fw-title: 700;
    --bgc-our-team: rgba(245, 244, 250, 1);
    --bgc-secondary: rgba(47, 48, 58, 1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}