.form-button {
  @extend %centeredFlex;

  padding: 0;

  width: 200px;
  height: 50px;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: var(--accent-color);
  cursor: pointer;
}

.button-text {
  margin-right: 10px;
  font-weight: var(--primary-fw-title);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 1);
}
