.modal {
  position: absolute;

  padding: 40px;

  width: 528px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  &-button {
    @extend %centeredFlex;

    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
}

.modal-button__icon {
  transition: fill 250ms var(--timing-function);

  .modal-button:hover &,
  .modal-button:focus & {
    fill: var(--accent-color);
  }
}
