.modal-form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 448px;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}

.wrapper {
  position: relative;
}

.modal-form {
  &__form-button {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__field {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
  }

  &__textarea {
    display: block;
    margin-bottom: 20px;
  }

  &__button-text {
    margin: 0;
  }

  &__policy {
    @extend %centeredFlex;
    margin-bottom: 30px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
  }

  &__link {
    color: var(--accent-color);
  }
}

.modal-form__input {
  padding-left: 35px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms var(--timing-function);

  &:focus {
    border-color: var(--accent-color);
  }
}

.policy__label {
  margin-left: 7px;
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}

.textarea__comment {
  display: block;
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms var(--timing-function);

  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox__icon {
  @extend %centeredFlex;

  width: 16px;
  height: 15px;

  outline: 2px solid var(--title-color);
  outline-offset: -2px;
  border-radius: 2px;
}

.checkbox:checked + .checkbox__icon .checkbox__icon-check {
  opacity: 1;
}

.checkbox:checked + .checkbox__icon {
  outline: transparent;
}

.checkbox__icon-check {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}
