.clients {
  @extend %centeredFlex;

  &__icon {
    fill: currentColor;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  @extend %centeredFlex;
  flex-wrap: wrap;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
