.footer-section {
  background: var(--bgc-secondary);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    align-items: baseline;
  }
}

.footer-title {
  display: inline-flex;
  margin-bottom: 20px;
  font-weight: var(--primary-fw-title);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-address-container {
  flex-grow: 1;
}

.footer__item {
  font-style: normal;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.address-street-list {
  color: rgba(255, 255, 255, 1);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
